<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>{% block title %}Newspaper App{% endblock title %}</title>
</head>
<body>
    <div id="container">
    <h1>To-Do List <i class="fa fa-plus"></i></h1> <input type="text" placeholder="Add New Todo">
    <ul>
        <li><span><i class="fa fa-trash"></i></span> <a href={% url 'todo:task_new' %}>ADD TAsk</a></li>
        <li><span><i class="fa fa-trash"></i></span> <a href={% url 'todo:category_new' %}>ADD CATEGORY</a></li>
        <li><span><i class="fa fa-trash"></i></span> <a href={% url 'todo:task_list' %}>list TAsk</a></li>
        <li><span><i class="fa fa-trash"></i></span> <a href={% url 'todo:category_list'%}>list CATEGORY</a></li>
    </ul>
</div>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>